*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    
}
html{
    background: #000;
}
.hpadre{
    display: flex;
    flex-flow: column nowrap;
    background: linear-gradient(207.8deg, #554e48 16.69%, #2baefa 100%);
}

li{
    list-style:none;
}
.header{
    background: transparent;
    display: flex;
    flex-flow: column nowrap;
}
    .menu{
        background: transparent;
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;

        
    }
        .logo{
            background: transparent;
            flex: 1 1 auto;
            height: 50px;
            justify-content: right;
            display: flex;
            flex-flow: row nowrap;

        }
            .material-icons{
                padding: 0%;
                margin: 0%;
                font-size:4rem;
                color:white;
                background:transparent;
            }
            h3{
                color: white;
                background:transparent;
            }
        .nav{
            background: transparent;
            flex: 5 1 auto;
            height: 50px;
            display: flex;
            flex-flow: row nowrap;
            background: linear-gradient(207.8deg, #554e48 16.69%, #2baefa 100%);
            border-radius: 5px;
        }
            a{
                
                margin: 0%;
                width: 15em;
                width: auto;
                
                font-size: 1em;
                color: white;
                /*width: 100px;*/
    /*            padding: 12px 16px;*/
                text-decoration: none;
                display: block;
                background-color: transparent;
                transition: background-color .5s;
            }
            a:hover {
                background: linear-gradient(207.8deg, #96887c 16.69%, #68a4c7 100%);
            }

    .presentacion{
        background: #002B5B;
        
    }
        h1{
           background: #3FA796;  
        }
.section{
    background: transparent;
    display: flex;
}
    .articulos{
        background: transparent;
        display: flex;
        flex: 2 1 auto;
        flex-flow: row wrap;
        border-radius: 5px;
    }
        .article{
            background: #256D85;
            flex: 5 1 25%;
            border-radius: 5px;
            color: white;
            align-items: center;
        }
        .navegar{
            background: #8FE3CF;
            flex: 1 1 100%;
        }
    .aside{
        background: transparent;
        flex: 1 1 20%;
        flex-flow: row wrap;
    }
        .videos{
            background: transparent;
        }
        video{
            margin: 0%;
            padding: 0%;
            width: 320px;
            height: 240px;
        }
.footer{
    background: #000;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
    .pie{

        width: 300px;
        color: white;
    }


    [draggable=true] { 
        cursor : move; 
    }
#products { 
        float:left; 
        list-style:none; 
        width:65%; 
        padding:0; 
    } 
#products li { 
        display:inline; 
    }

    .item { 
        display:block; 
        float:left; 
        /*width:320px; 
        height:320px;*/
        margin:10px; 
        border:1px solid #494949; 
        text-align:center; 
        text-decoration:none; 
        color: #000; 
        overflow:hidden; 
    } 
    .item img { 
        border:0; 
        margin:10px auto; 
        /*width:240px; 
        height:240px; */
    } 
    .item div { 
        background:rgb(0, 0, 0); 
        background: rgba(0, 0, 0, 0.5); 
        position:relative; 
        bottom:69px; 
        color:#f3f3f3; 
        padding:5px 0; 
      /*  display:none; */
    }

    #cart { 
        float:right; 
        background-color:#ccc; 
        width:25%; 
        padding:0 5%; 
        height:100%; 
    } 
    #cart ul { 
        padding:0; 
    } 
    #cart li { 
        list-style:none; 
        border-bottom:1px solid #494949; 
        padding:5px; 
    } 
    #cart .quantity { 
        font-weight:bold; 
        padding-right:10px; 
        margin-right:10px; 
        border-right:1px solid #494949; 
        display:inline-block; 
        width:15px; 
        text-align:right; 
    } 
    #cart .price { 
        float:right; 
    } 
    #total { 
        float:right; 
    }

    ul, li{
        list-style: none;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
    }
    section#cart{
        background: linear-gradient(207.8deg, #96887c 16.69%, #68a4c7 100%);
    }
    section#cart ul{
        height: 600px;	
        width: 450px;		
        overflow: auto;
        background: linear-gradient(207.8deg, #96887c 16.69%, #68a4c7 100%);
        /*background-color: #cccccc;*/
    }
    @media all and (max-width: 800px){
        .section{
            flex-direction: column;
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
        .aside{
            display: flex;
            justify-content: center;
        }
    }

    @media all and (max-width: 600px){
        .articulos{
            flex-direction: column;
            
        }
        h1{
            font-size: 20px;
        }
        video{
            width: 315px;
            height: 164px;
        }
        img{
            width: 200px;
            height: 200px;
        }
        section#cart ul{
            height: 300px;	
            width: 250px;	
    }
    }

    @media all and (max-width: 400px){
        .aside{
            flex-direction: column;
            margin: 0%;
            padding: 0%;
        }
        a{
            margin-left: 5px;
        }
        h1{
            font-size: 15px;
        }
        video{
            margin: 0%;
            padding: 0%;
        }
        *{
            margin: 0%;
        }
        
        .section .videos .articulos{
            margin: 0%;
            padding: 0%;
        }
        img{
            width: 200px;
            height: 200px;
        }
        section#cart ul{
            height: 300px;	
            width: 250px;	
    }
    }
 
  